

.cart_item { 
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.cart_item .item_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}