/* Body do CartPage */
.cart-body {
    background-color: rgb(240, 240, 240);
    padding: 40px;
}

.cart-body h2{
    color:black
}

/* Cart */
.Cart{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.product {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 5px;
    width: 80px;

}
.Cart_List {
    background-color: rgb(216, 216, 216);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: auto;
    margin-top: 0%;
    padding: 15px;
}

h2 {
    color: black;
    margin-left: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.Cart ul{
    padding-left: 0%;
    margin-left: 0%;
}

.Cart  li {
   margin-bottom: 0%;
   margin-top: 0%;
   margin-left: 0%;
   list-style-type: none;
   width: 100%;
}

p {
    color: black;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

/* Cart Item */
.cart_item { 
    background-color: white;
    display: flex;
    color: black;
    margin-top: 0%;
    height: 70px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 1%;
}

.cart_item h2{
    background-color: black;
    color: white;
    font-size: small;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 2%;
    margin-right: 0%;
    padding-left: 0%;
    width: 10%;
    height: 80%;
}

.cart_item .item_details {
    display: flex;
    flex-direction: column;
    color: white;
}

.cart_item .item_details ul {
   padding-left: 0%;
   margin-left: 0%;
}

.cart_item .item_details li {
   margin-bottom: 0%;
   margin-top: 0%;
   margin-left: 2%;
   list-style-type: none;
}

.cart_item .item_details p {
   font-size: small;
   width: 100%;
   text-align: left;
}