#root {
  margin: 0;
  display: flex;
  flex-direction: column; 
  width: 100%;
}

/* Body do LandingPage */
.landing-body {
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.landing-body h2{
  color: black;
  
}