/* Body do ProductPage */
.product-body {
    background-color: rgb(240, 240, 240);
    justify-content: center;
    padding: 40px;
}

.pruduct-body h2{
    color:black
}

/* Lista de Produtos */

.ProductList {
    display: flex;
    gap: 30px;   
}

/* Card de Produtos */

.product-card {
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 200px;
}

.product-div {
    background-color: black;
    color: white;
    border-radius: 8px 8px 0 0;
    height: 150px;  
    display: flex;
    justify-content: center;
}

.product-info {
    margin: 20px;
    color: black;
    text-align: center;
}

