/* Footer */
footer{
  background-color: rgb(27, 27, 150);
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

/* Header */

header {
  background-color: rgb(27, 27, 150);
  padding: 15px;
  width: 100%; 
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
}

header h1{
    color: white;
}

/* Buttons */

/* variant buy */
.button--buy {
    background-color: #ffffff;
    color: #1f8a3d;
    border: 2px solid #1f8a3d;
}

/* variant clear */
.button--clear {
    background-color: #d31a17;
    color: #000000;
    border: 2px solid #d31a17;
    width: 10%;
}

/* variant delete */
.button--delete {
    background-color: #ffb836;
    color: #000000;
    border: 2px solid #ffb836;
    margin-left: 950%;
}